/******************************************** LOGIN SCREEEN ***********************************************/

/* Das gehört zu den Eigenschaften des Login-Screen */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: linear-gradient(rgba(140, 140, 140, 0.7), rgba(0, 0, 0, 0.7)), url('fabrik.jpeg');
    background-position: center;
    background-size: cover;
}

/* Das ist die Form des Andmeldeformular */
.login-container form {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin: 0 auto;

    border: 1px solid transparent;
    /* zum blushen zum verschwommen machne*/
    /*backdrop-filter: blur(10px);*/
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.634);
    color: white;
    /*  TEXT hintergrund */
    /* background-color: rgb(237, 237, 237); */
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.801);
    width: 300px;
    box-shadow: 3px 3px 4px rgba(0.5, 0.5, 0.5, 0.5);

}

/*.login-container label {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}*/

.login-container input {
    padding: 10px;
    padding-left: 15px;
    font-size: 15px;
    width: 150px;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0px 1px 2px rgba(0.5, 0, 0, 0.5);
}

input::placeholder {
    color: #c3c3c3;
}

.login-container button {
    padding: 10px;
    text-align: center;
    width: 180px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #e2755c;
    color: white;
    border-color: transparent;
    letter-spacing: 0.5px;
}

.login-container button:hover {
    background-color: #ca6c57;
}

.login-container h1,h2, p {
    color: white;

}

.login-container h1 {
    font-size: 70px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.login-container p {
    letter-spacing: 2px;
    font-size: 25px;
}

.login-container h2 {
    font-size: 30px;
    letter-spacing: 1px;
}

.login-container h3 {
    letter-spacing: 3px;
    font-size: 20px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.login-container h2, p {
    text-align: center;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.801);
    width: 100%;
    padding: 12px;
    color: black;
    margin: 6px;
}


/****************************************** MAIN SCREEN *****************************************/

/* Begrüßungssheading */
h1 {
    text-align: center;
}

/* Das Heading für die => Standorte in */
.listenMenue h3 {
    text-align: center;
    color: #000;
} 

/* Es ist der Container für die Dreier Striche und die Liste der Standorte */
#navigationListe {
    display:flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    height: 10px;
    width: 1100px;
    z-index: 2; /* nächstes Stapelreihenfolge 2 */
}

/* Hier sind Eigenschaften der DreierLinien für das Pop-Up*/
.dreierStriche {
    position: static;
    cursor: pointer;
<<<<<<< HEAD
    display: flex;
    flex-direction: column; /* Elemente werden von oben nacch unten angeordnet*/
    top: 50px;
    left:68%;
    padding: 5px 5px;
    z-index: 2;
    position: relative;
=======
    flex-direction: column; /* Elmente werden von oben nacch unten angeordnet*/
    padding: 5px 5px;
    margin-top: 100px;
    margin-right: 370px;
>>>>>>> 11a976cf598055e463fae19038db2678da89e71b
}

/* Hier sind die Eigenschaften der Linien der Dreierstriche*/
.line {
    width: 25px; 
    height: 4px; 
    background-color: #000;
    margin: 3px 0;
    margin-right: 10px;
    border-radius: 5px;
}

/* Hier werden alle Standorte ausgegeben, nach dem ich auf das Dreier-Zeichen rüberfahre */
.listenMenue {
    position:absolute;
    top: 20px;
    right: 15px; /* Wo werden standorteListe neben der Dreierstriche angezeigt?*/
    height:500px; 
    width: 300px;  
    border-radius: 10px;
    font-size: 16px;
    z-index: 3;         /* nächstes Stapelreihenfolge 3 */
    border: 1px solid  rgb(209, 208, 184);
    background-image: url('map.jpg') ;
    background-position: center;
}

.versteckt{
    display: none;
}

#ListMenueParent {
    position: relative;
}

/* Hier wird das angezeigt wenn man mit der Maus rüber schwebt, über das Menue
#dreierStriche:hover .listenMenue{
    display: block; 
    margin-top:40px;
    margin-right: 50px;
} */

/* Eine subDivison für die Beschreibungen der Standorte*/
.AllgemeineStandortBeschreibung{
    display: none;
}

/* Anzeige in Listen Form der Beschreibung */
li:hover .AllgemeineStandortBeschreibung{
    display: block;   
}

/* ungeordenete Liste und listenelemente im Listen-popup für die Trennlinie (der Standorte )*/
ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

/* Der login Button */
.listenMenue .button-container button#addID {
    margin-top: 68%;
    margin-left: 68%;
    padding: 5px;
    font-size: 12px;
}

/* Der logout Button */
.listenMenue .button-container button#logoutID {
    padding: 5px;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 120px;
}

/* Das gehört zu den Eigenschaften der Map */
.main-container .map {

    width: 70%;
    height: 600px;
    padding-left: 10px; 
    padding-top: 15px;
    position: relative;
    margin-top: 10px;
    z-index: 1;/* dient als stapelreihenfolge fest,zuerst kommt die map, dann die Popups*/
}


footer {
    text-align: center;
}




/************************************************** ADD SCREEN */

.add-container form {
    text-align: center;
    margin: 0 auto;
    /*mini rahmen*/
    background-color: rgb(255, 217, 197);
    /*background: linear-gradient(rgba(140, 140, 140, 0.7), rgba(0, 0, 0, 0.7)),url('fabrik.jpeg');*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
    width: 400px;
}

.add-container label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.add-container input,
select {
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0px 1px 2px rgba(0.5, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;

}

.add-container textarea {
    width: 250px;
    height: 80px;
    padding: 17px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 15px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: transparent;
    box-shadow: 0px 1px 2px rgba(0.5, 0, 0, 0.5);
}

.add-container input#zipID,
input#latID,
input#lonID {
    width: 110px;
}

.add-container h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.add-container button {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    background-color: #e2755c;
    color: white;
    border-color: transparent;
    letter-spacing: 0.5px;
}

.add-container #cancelID {
    background-color: rgb(134, 134, 134);
}

.add-container #cancelID:hover {
    background-color: rgb(125, 125, 125);
}

.add-container button:hover {
    background-color: #ca6c57;
}

/***************************** UPDATE DELETE SCREEN */

.update-container form {
    text-align: center;
    margin: 0 auto;

    /*mini rahmen*/

    background: linear-gradient(rgba(140, 140, 140, 0.7), rgba(0, 0, 0, 0.7)),url('fabrik.jpeg');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    width: 400px;

}

.update-container label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.update-container input,
select {
    width: 200px;
    padding: 10px;
    padding-left: 15px;
    font-size: 15px;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0px 1px 2px rgba(0.5, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;

}

.update-container textarea {
    width: 250px;
    height: 80px;
    padding: 17px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 15px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: transparent;
    box-shadow: 0px 1px 2px rgba(0.5, 0, 0, 0.5);

}

.update-container input#zipID,
input#latID,
input#lonID {
    width: 110px;
}

.update-container h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.update-container button {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgb(134, 134, 134);
    color: white;
    border-color: transparent;
    letter-spacing: 0.5px;
}

.update-container button:hover {
    background-color: rgb(125, 125, 125);
}

#deleteID {
    background-color: #af3a3a;
}

#deleteID:hover {
    background-color: #9f3535;
}

#updateID {
    background-color:rgb(77, 122, 77)
}

#updateID:hover {
    background-color:rgb(71, 112, 71)
}
